{% extends 'projects/base.html' %}

{% load static %}

{% block content%}

    <div class="container d-flex flex-row flex-wrap justify-content-center align-items-center" style="width:60vw; padding: 4px; margin: 12px; border-radius: 8px; background-color: white;" >
        <a href="" class="p-2">
            <img src="{% static project.image %}"  alt="nameImg" class="rounded " style="margin-top: 8px; cursor:pointer; width: 200px; height: 200px">
        </a>
        <div class="d-flex flex-column ml-auto p-2 align-items-right">
            <h2 class="m-2">{{ project.title }}   </h2>
            <p class="m-2">{{ project.description }} </p>
            <p class="m-2">{{ project.technology }} </p> 
            <a href="{{ project.link }}" class="m-auto btn btn-primary">LINK</a> 
        </div>
    </div>

{% endblock %}